body{
    font-family: 'Andika', sans-serif;
    font-family: 'Merriweather', serif;
}
* {
    margin: 0 auto;
    box-sizing: border-box;
}
.continer{
    background-image: url('../image/Banner\ Image.png');
    margin-bottom: 50px;
    background-repeat: no-repeat;
    height: 600px;
    width: 1320px;
    border-radius: 16px;
    
}
.continer h6{
    margin-top: 200px;
    margin-bottom: 1px;
}
.happy {
    color: #FFF;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    
}
.Heading {
    line-height: 95px;
    text-align: center;
    font-size: 72px;
    color: #FFF;
    font-weight: 900;
    width: 632px;
}
.continer h1{
    padding-bottom: 200px;
}
.discount{
    margin-bottom: 50px;
}
.discount p{
    text-align: center;
    color: #F00;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    font-size: 24px;
}
.discount h3 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    text-align: center;
    line-height: normal;
    font-weight: 700;
}
.discount .pic1 {
    width: 802.9px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 500px;
    display: block;
}
